@model Cinema.Domain.DomainModels.Ticket

@{ ViewData["Title"] = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieGenre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
